.card-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 5px;
    overflow: hidden; /* Para ocultar cualquier parte de la imagen que se desborde */
  }
  
  .card-img {
    width: 200px; /* Tamaño fijo */
    height: 200px; /* Tamaño fijo */
    object-fit: cover; /* Para asegurarse de que la imagen cubra completamente el contenedor */
    border-radius: 5px;
    object-fit: cover; /* Para asegurarse de que la imagen cubra completamente el contenedor */
    margin: 10px;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card-price {
    font-size: 1.2rem;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .card-description {
    margin-bottom: 10px;
  }
  
  .card-category {
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .card-rating {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #6c757d;
  }
  .cart-button {
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none; /* Elimina el borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Peso de la fuente */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
  }
  
  .cart-button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón */
  }
  
  .cart-button:focus {
    outline: none; /* Elimina el contorno al hacer clic en el botón */
  }
  .card-body{
    padding: 10px;
  }