  .main {
    margin: 20px;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    min-height: 100vh; /* Establece una altura mínima para que el main ocupe al menos toda la altura de la ventana del navegador */
  }