  .main {
    display: flex;
    justify-content: center;
    align-items: center;
/* Establece una altura mínima para que el main ocupe al menos toda la altura de la ventana del navegador */
  }
  .product-container{
    display: grid;
    grid-template-rows: 1fr;
    font-family: "Raleway", sans-serif;
    background-color: #01e37f;
  }